@charset "UTF-8";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.text-ficag{
    text-shadow: #000000 2px 3px 2px;
}

.text-ficag:hover, .text-footer-main:hover{
    color: #fcfcfc;
    background-color: #fcfcfc;
    transition: 0.5s;
}

.text-1{
    background-color: rgba(171, 4, 248, 0.521);
    border-radius: 10px;
    width: auto;
}

.text-3{
    background-color:rgba(165, 42, 42, 0.521);
    border-radius: 10px;
    width: auto;
}
.card{
    max-width: auto;
}

.card-patrocinio{
    max-width: 540px;
}

.instrutores{
    color: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
    /* justify-items: center;
    align-items: center;
    justify-content: center; */
}

.videos{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.card-title{
    text-align: center;
    font-weight: bolder;
}


.img_background1{
    background-image: url(../Img/IMG-20191218-WA0090.jpg);
}

.img_background2{
    background-image: url(../Img/IMG-20191227-WA0034.jpg);    
}


.img_background3{
    background-image: url(../Img/IMG-20200428-WA0053.jpg);   
}

.carrosselSlide{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0% auto;
    background-color:  #f44336;
}

.carousel-inner{
    width: 50%;
    height: 50%;
    /* margin:0%; */
}

.carrosselSlide img {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.carousselText {
    background-color:  #f44336d2;
}

.carousel-indicators{
    background-color: #000000d2;
    width: 25%; 
    margin:0% 25%; 
} 

.text-footer-main{
    margin-left: 30%;
}

/* .text-footer-main:hover{
    box-shadow: 10px 5px 5px black;
    border-radius: 5px red;
} */

#footer{
    display:flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-around;
}


@media(max-width: 1096px){
    .coll-main{
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(200px, auto);
        gap:0px 5px;
        justify-items: center;
        grid-template-areas:
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item1 item1 item1 item1"
        "item2 item2 item3 item3"
        "item2 item2 item3 item3"
        "item2 item2 item3 item3"
        "item2 item2 item3 item3"
        "item2 item2 item3 item3"
        "item2 item2 item3 item3"
        "item2 item2 item3 item3"

    }

    .coll-one{
        grid-area: item2;
    }


    .coll-two{
        grid-area: item1;
    }


    .coll-three{
        grid-area: item3;
    }



}


@media (max-width: 550px){
    .carousel-inner{
        width: 100%;
        height: 100%;
        /* margin:0%; */
    }

    .card-title{
        font-size: 12px;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }

    .card-text{
        font-size: 12px;
    }

    .btn-primary{
        /* width: 100%; */
        font-size: 10px;
        font-weight: 600;
    }


    #footer{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .text-footer-h3{
        display: none;
    }

    .img-footer{
        display: flex;
        justify-content: space-between;
        width: 62.5%;
    }
    .text-footer-main{
        margin:auto;
    }
}